@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

form { 
    margin: 0 auto; 
    width:250px;
    border: 1px solid purple;
    padding: 1%;
    border-radius: 1%;
}

/* input {
    width: 90% !important;
} */


button {
    width: 100%;
}

label {
    display: block;
    text-align: center;
}

span {
    width: 10% !important;
    color: red;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}

h3 {
    color: gray;
    text-align: center;
}