/* @import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css'); */

table, th, td {
    border: 1px solid black;
}

th, td {
    text-align: center;
}

table {
    width: 75%;
    margin: auto;
}

h3 {
    color: gray;
    text-align: center;
}

button {
    width: 100% !important;
}